Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  misc-include-cleaner,
  misc-definitions-in-headers,
  misc-uniqueptr-reset-release,
  misc-use-internal-linkage,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-avoid-goto,
  -modernize-use-trailing-return-type,
  -bugprone-throwing-static-initialization,
  -clang-diagnostic-c2y-extensions,
  -readability-magic-numbers,
  -bugprone-chained-comparison,
  -portability-avoid-pragma-once,
  -bugprone-easily-swappable-parameters,
  -system-headers=false

WarningsAsErrors: ""
HeaderFilterRegex: "^(engine|bindings)/.*"
ExcludeHeaderFilterRegex: '^(third_party|external|build|\.venv|.*test.*)/.*'

CheckOptions:
  - key: readability-simplify-boolean-expr.ChainedConditionalReturn
    value: "true"
  - key: readability-function-size.MaxNestingLevel
    value: "4"
  - key: readability-function-cognitive-complexity.Threshold
    value: "20"
